.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.blue, .red, .green{
    height:200px;
    width:200px;
    border-radius: 25px;
}


.blue{
    background-color: blue;
}

.blue:active{
    background-color: darkblue;
}

.red{
    background-color: red;
}
.red:active{
    background-color:darkred;
}

.green{
    background-color: green;
}

.green:active{
    background-color: darkgreen;
}